body {
    background-color: rgb(166, 220, 252);
    font-size: 16px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.ava {
    width: 300px;
    border-radius: 30px; 
    box-shadow: 11px 8px 11px 6px rgb(135 130 130 / 56%);
}

.info p {
    margin: 0;
    font-style: italic;
}

.tat {
    width: 200px;
    border-radius: 30px ;
    box-shadow: 11px 8px 11px 6px rgb(135 130 130 / 56%);
}

h4 {
    font-size: normal;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

